.hidden {
  display: none;
}

.fluid {
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

body {
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif, "Noto Sans CJK SC";
  color: #666666;
}

h1, h2, h3 {
  letter-spacing: 0;
  color: #333333;
  font-weight: initial;
}

.flexSpacer {
  flex-grow: 1;
}

div.content {
	display: flex;
	max-width: 1200px;
	margin: 0px auto;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

picture {
  display: block;
}